@use '../css/variable' as v;

.intro__container {
    min-height: 100vh;

    .intro__small-heading {
        font-size: 1.6rem;
        color: v.$green-color;
    }

    .intro__big-heading {
        font-size: 5.4rem;
        margin: 1rem 0;
    }

    h2 {
        color: v.$text-color;
    }

    h3 {
        color: v.$text-color-dark;
    }

    .intro__description {
        p {
            color: v.$text-color-dark;
            font-size: 1.4rem;
            line-height: 2rem;
            max-width: 540px;
        }

        a {
            color: v.$green-color;
            font-size: 1.2rem;
        }
    }

    .intro__button {
        padding: 2rem 4.4rem;
        border: 1px solid v.$green-color;
        margin-top: 3rem;
        background-color: transparent;
        color: v.$green-color;
        border-radius: 0.4rem;
        font-size: 1.6rem;
    }

    .intro__left {
        position: fixed;
        right: auto;
        bottom: -10px;
        left: 40px;
        width: 40px;

        .intro__social {
    
            .intro__social-list {
                display: flex;
                flex-direction: column;
                -webkit-box-align: center;
                align-items: center;
                position: relative;
                
                &::after {
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height: 90px;
                    margin: 1rem auto;
                    background-color: v.$text-color-dark;
                }
    
                .intro__social-item {
                    padding: 10px;
    
                    .intro__social-icon {
                        svg {
                            width: 2rem;
                            color: v.$text-color-dark;
            
                            &:hover {
                                transform: translateY(-3px);
                                color: v.$green-color;
                            }
                        }
                    }
                }
            }
        }
    }

    .intro__right {
        position: fixed;
        right: 40px;
        bottom: -50px;
        left: auto;
        width: 40px;

        .intro__gmail {
            display: flex;
            flex-direction: column;
            -webkit-box-align: center;
            align-items: center;
            position: relative;

            a {
                margin: 20px auto;
                padding: 10px;
                writing-mode: vertical-rl;
                color: v.$text-color-dark;
                font-size: 1.2rem;

                &:hover {
                    transform: translateY(-3px);
                    color: v.$green-color;
                }

                &::after {
                    content: "";
                    display: inline-block;
                    width: 1px;
                    height: 90px;
                    margin: 2rem auto;
                    background-color: v.$text-color-dark;
                }
            }
        }
    }
}