@use '../css/variable' as v;
@use '../mixins/mixin';

.project__container {
  .project__list {
    .project__item {
      position: relative;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      align-items: center;
      margin-bottom: 15rem;

      &:last-child {
        margin-bottom: 0;
      }

      @include mixin.tablet {
        display: flex;
        flex-direction: column;
      }

      .project__item-image {
        border: 1px solid v.$green-color;

        img {
          position: relative;
          display: block;
        }
      }

      &:nth-child(odd) {
        .project__item-image {
          position: relative;
          grid-area: 1 / 6 / -1 / -1;
          grid-column: 1 / 8;

          @include mixin.desktop {
            grid-column: 1 / 7;
          }

          @include mixin.tablet {
            grid-column: 1 / -1;
          }
        }

        .project__item-content {
          position: relative;
          grid-area: 1 / 1 / -1 / 7;
          grid-column: 7 / -1;
          margin-top: 4rem;
          text-align: right;

          @include mixin.desktop {
            grid-column: 5 / -1;
          }

          @include mixin.tablet {
            grid-column: 1 / -1;
          }

          .project__item-tech-list {
            justify-content: flex-end;

            .project__item-tech-item {
              margin-left: 1.6rem;
            }
          }
        }

        .project__item-link {
          justify-content: flex-end;

          .project__item-link-item {
            margin-left: 1rem;
          }
        }
      }

      &:nth-child(even) {
        .project__item-image {
          position: relative;
          grid-area: 1 / 6 / -1 / -1;
          grid-column: 6 / -1;

          @include mixin.desktop {
            grid-column: 7/ -1;
          }

          @include mixin.tablet {
            grid-column: 1 / -1;
          }
        }

        .project__item-content {
          position: relative;
          grid-area: 1 / 1 / -1 / 7;
          grid-column: 1 / 7;
          margin-top: 4rem;
          text-align: left;

          @include mixin.desktop {
            grid-column: 1 / 9;
          }

          @include mixin.tablet {
            grid-column: 1 / -1;
          }

          .project__item-tech-list {
            justify-content: flex-start;

            .project__item-tech-item {
              margin-right: 1.6rem;
            }
          }
        }

        .project__item-link {
          justify-content: flex-start;

          .project__item-link-item {
            margin-right: 1rem;
          }
        }
      }

      .project__item-title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        color: v.$green-color;
      }

      .project__item-detail {
        padding: 2rem;
        background-color: v.$blue-color-dark;
        margin-bottom: 1.5rem;

        &-text {
          color: v.$text-color-dark;
          font-size: 1.4rem;
        }

        @include mixin.tablet {
          background-color: transparent;
        }
      }

      .project__item-tech-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1.5rem;
        color: v.$text-color-dark;

        .project__item-tech-item {
          font-size: 1.4rem;
        }
      }

      .project__item-link {
        display: flex;
        align-items: center;

        .project__item-link-item {
          svg {
            width: 2rem;
            color: v.$text-color-dark;
          }
        }
      }
    }
  }
}
