/* Mixin */
/* Set các giá trị với màn hình tương ứng */
$sm-mobile-width: 360px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin desktop {
  @media (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin sm-mobile {
  @media (max-width: #{$sm-mobile-width}) {
    @content;
  }
}
