@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

h1,h2,p {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}


img {
  max-width: 100%;
  height: auto;
}

.grid {
  display: grid;
}

body {
  color: white;
  font-family: 'Fira Code', monospace;
}

.main {
  overflow: hidden;
}

.container {
  max-width: 976px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
}

.section-component {
  padding-bottom: 20rem;
}

.my-resume {
  background-color: black;
}

/*========== GENERAL ==========*/
.title {
  margin-bottom: 3.6rem;
}

.title__number {
  font-size: 1.6rem;
  color: #64FFDA;
}

.title__text {
  margin-left: 0.8rem;
  font-size: 2.4rem;
  font-weight: 700;
}
